{% set container = settings.wrapper_container %}
{% set sizes = settings.sizes %}
{% set offsets = settings.offsets %}
{% set orders = settings.orders %}
{% set leftOuter_classes = ['cell'] %}
{% for key, val in sizes.leftOuter %}
  {% set leftOuter_classes = leftOuter_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.leftOuter %}
  {% set leftOuter_classes = leftOuter_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.leftOuter %}
  {% set leftOuter_classes = leftOuter_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}
{% set leftInner_classes = ['cell'] %}
{% for key, val in sizes.leftInner %}
  {% set leftInner_classes = leftInner_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.leftInner %}
  {% set leftInner_classes = leftInner_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.leftInner %}
  {% set leftInner_classes = leftInner_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}
{% set rightInner_classes = ['cell'] %}
{% for key, val in sizes.rightInner %}
  {% set rightInner_classes = rightInner_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.rightInner %}
  {% set rightInner_classes = rightInner_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.rightInner %}
  {% set rightInner_classes = rightInner_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}
{% set rightOuter_classes = ['cell'] %}
{% for key, val in sizes.rightOuter %}
  {% set rightOuter_classes = rightOuter_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.rightOuter %}
  {% set rightOuter_classes = rightOuter_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.rightOuter %}
  {% set rightOuter_classes = rightOuter_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}

{% if container == TRUE %}
  <div class="grid-container">
{% endif %}
  <div {{ attributes.addClass('grid-x', settings.wrapper_classes, settings.wrapper_gutters.x, settings.wrapper_gutters.y) }}>
    {% if content.leftOuter %}
      <div {{ region_attributes.leftOuter.addClass(leftOuter_classes) }}>
        {{ content.leftOuter }}
      </div>
    {% endif %}
    {% if content.leftInner %}
      <div {{ region_attributes.leftInner.addClass(leftInner_classes) }}>
        {{ content.leftInner }}
      </div>
    {% endif %}
    {% if content.rightInner %}
      <div {{ region_attributes.rightInner.addClass(rightInner_classes) }}>
        {{ content.rightInner %}
      </div>
    {% endif %}
    {% if content.rightOuter %}
      <div {{ region_attributes.rightOuter.addClass(rightOuter_classes) }}>
        {{ content.rightOuter }}
      </div>
    {% endif %}
  </div>
{% if container == TRUE %}
  </div>
{% endif %}
