{% set container = settings.wrapper_container %}
{% set sizes = settings.sizes %}
{% set offsets = settings.offsets %}
{% set orders = settings.orders %}
{% set left_classes = ['cell'] %}
{% for key, val in sizes.left %}
  {% set left_classes = left_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.left %}
  {% set left_classes = left_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.left %}
  {% set left_classes = left_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}

{% set right_classes = ['cell'] %}
{% for key, val in sizes.right %}
  {% set right_classes = right_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.right %}
  {% set right_classes = right_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}
{% for key, val in orders.right %}
  {% set right_classes = right_classes|merge([key ~ '-order-' ~ val]) %}
{% endfor %}

{% if container == TRUE %}
  <div class="grid-container">
{% endif %}
  <div {{ attributes.addClass('grid-x', settings.wrapper_classes, settings.wrapper_gutters.x, settings.wrapper_gutters.y) }}>
    {% if content.left %}
      <div {{ region_attributes.left.addClass(left_classes) }}>
        {{ content.left }}
      </div>
    {% endif %}
    {% if content.right %}
      <div {{ region_attributes.right.addClass(right_classes) }}>
        {{ content.right }}
      </div>
    {% endif %}
  </div>
{% if container == TRUE %}
  </div>
{% endif %}
