{% set container = settings.wrapper_container %}
{% set sizes = settings.sizes %}
{% set offsets = settings.offsets %}
{% set main_classes = ['cell'] %}
{% for key, val in sizes.main %}
  {% set main_classes = main_classes|merge([key ~ '-' ~ val]) %}
{% endfor %}
{% for key, val in offsets.main %}
  {% set main_classes = main_classes|merge([key ~ '-offset-' ~ val]) %}
{% endfor %}

{% if container == TRUE %}
  <div class="grid-container">
{% endif %}
  <div {{ attributes.addClass('grid-x', settings.wrapper_classes, settings.wrapper_gutters.x, settings.wrapper_gutters.y) }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass(main_classes) }}>
        {{ content.main }}
      </div>
    {% endif %}
  </div>
{% if container == TRUE %}
  </div>
{% endif %}
